@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  outline: none;
  background-color: white;
}

input,
textarea {
  appearance: none;
  background-color: white;

  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
